body {
    margin: 0; 
    padding: 0;
    background-color: #111111;
    color: rgb(216, 218, 243); /*black;*/
}

li {
  text-align: justify;
}

footer {
    background-color: #02021b;
    padding: 10px;
    text-align: center;
    color: rgb(216, 218, 243);
    font-size: 13px;
    background-attachment: fixed;
    /* height: 5.5rem; */
    /* position: relative; */
}

footer a {
    color: rgb(216, 218, 243);
}

.footertext {
    color: rgb(199, 202, 240);
    line-height: .5;
}

.content {
  float: justify;
  padding: 20px;
  height: 100%;
  /* background-color: #f1f1f1; */
  padding-bottom: 2em;
  padding-left: 5em;
  padding-right: 5em;
  position: relative;
  min-height: 100vh;
}

.content p {
  text-align: justify;
}

.header {
  overflow: hidden;
  background-color: #02021b; /*#0e0920;*/
  padding: 20px 10px;
}
  
.header a {
  float: left;
  color: rgb(216, 218, 243);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
  
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
  
.header a:hover {
  background-color: #212152;/*#ddd; */
  color: rgb(216, 218, 243); /*black;*/
}
  
.header a.active {
  background-color: #7f7fe0;/*rgb(109, 112, 116);*/
  color: black;/*white;*/
}
  
.header-right {
  float: right;
}
  
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
  }
  
#bodymap {
  background-color: #111111;
  color: rgb(216, 218, 243); /*black;*/
}

#map {
  float: justify;
}

